<!DOCTYPE html>
<html>
    <head>
        <title>Angular Practise</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    </head>
    <body ng-app="toDoApp" ng-controller="toDoController">
        {{4+5}} <br>
        {{name}}<br>
        <input type="text" ng-model="name"><br> <!--We have added the ng-model directive for View-toController binding, this creates a property on $scope whose key is what ng-model is set to ** ng-model is only used for input elements-->
        <div ng-bind="name"></div>
        <button ng-click='alertMe()'> Alert Me</button>
        <script src="main.js"></script>
    </body>
</html>

<!--ng-click = This directive is Angular's way of handling click events, the function should be defined as the propertyof the $scope object -->